.loginPage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 1000px;
    height: 600px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: #4b6464 solid 1px;
}

.loginPage > b {
    font: 15px Bitter;
    color: #4b6464;
    cursor: pointer;
    margin: 5px;

}

.loginPage > b:hover {
    text-decoration: underline;
    text-decoration-color: #4b6464;
}

.inputLogin {
    margin: 10px;
    background-color: white;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    font: 20px Bitter;
}

.buttonLogin {
    width: 200px;
    height: 50px;
    background-color: #bedcdd;
    border: none;
    font: 20px Bitter;
    margin: 10px;
}

.buttonLogin:hover{
    background-color: #4b6464;
}

.imgLog {
    width: 600px;
    height: 300px;
}

.loginField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 2px solid #4b6464;
    margin-top: 10%;
}