.courseCard {
    width: 95%;
    height: 60px;
    font: 16px Bitter;
    transition: all ease-in-out 0.1s;
    cursor: default;
}
.courseCard:hover{
    background-color: #cee6ef;
}

.courseCard.active {
    background-color: #cee6ef;
}

.footLine {
    display: flex;
    width: auto;
    height: 6px;
    background-color: #4b6464;
    border-radius: 3px;
    margin-top: 7%;
}

.footLine.active {
    height: 25%;
    border-radius: 0;
}

.lectureLine {
    display: none;
    height: 6px;
    background-color: #202428;
    border-radius: 3px;
}

.lectureLine.active {
    display: flex;
    height: 100%;
    border-radius: 0;
}

.seminarLine {
    display: none;
    height: 6px;
    background-color: #3c3e3f;
    border-radius: 3px;
}

.seminarLine.active {
    display: flex;
    height: 100%;
    border-radius: 0;
}

.blackLine {
    height: 6px;
    background-color: #202428;
    border-radius: 3px;
}

.blackLine.active {
    display: none;
}