.generalField {
    width: 100%;
    height: 500px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    border-bottom: #4b6464 solid 1px;
    font: 25px Bitter;

}

.contentField {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font: 18px Bitter
}

.table {
    display: flex;
    justify-content: space-around;
}

.tableBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tablePerson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.tablePerson > h2 {
    font: 22px Bitter
}

.evaluate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tablePersonEval {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #4b6464 solid 1px;
}

.btn {
    width: 30%;
    height: 40px;
    font: 20px Bitter;
    background-color: #bedcdd;
    border: none;
    outline: none;
    transition: all ease-in-out 0.2s;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #bedcdd;
}

.btn.active {
    cursor: auto;
}

.btn.active:hover {
    background-color: #4b6464;
}

.alterTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    font: 20px Bitter;
}

.alterTxt > mark {
    background-color: #bedcdd;
    padding: 2px;
    font: 22px Bitter;
    border-radius: 5px;
}