.MyBtn {
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;

    width: 180px;
    height: 40px;
    background-color: #d2edf6;

    border-radius: 20px;
    border-color: transparent;

    justify-content: center;
    align-items: center;

    font: 20px Bitter;
    margin: 0;
}

.MyBtn:hover {
    background-color: #4b6464;
}

.MyBtn.active {
    background-color: #4b6464;
}

@media screen and (max-width: 1000px) {
    .MyBtn {
        font: 20px Bitter;
    }
}
