.modal {
    height: 90%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    margin-right: 7%;
    padding: 20px;
    border-radius: 12px;
    background-color: #d2edf6;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 180px;
    transform: scale(0.5);
    transition: 0.5s all;
}

.modal__content.active {
    transform: scale(1);
}

.modal__content:after{
    box-sizing: border-box;
    width: 1000px;
    height: 1000px;
    background-color: black;
    content: "";
    z-index: 100000000;
}