.App {
}

.img-enter {
    opacity: 0;
}
.img-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.img-exit {
    opacity: 1;
}
.img-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.campus-enter {
    opacity: 0;
}
.campus-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.campus-exit {
    opacity: 1;
}
.campus-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
